[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.812"
requests-mock = "==1.8.*"
sqlalchemy-stubs = "==0.4"

[packages]
alembic = "==1.5.*"
pydantic = "==1.8.*"
python-i18n = "==0.3.*"
requests = "==2.25.*"
sentry-sdk = "==1.0.*"
sqlalchemy = "==1.4.*"
ts3 = "==2.0.0b2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true